<template>
  <div>
    <header>
      <h2>
        Claus Calculator
      </h2>
      <h3>
        1. This model calculates the lifetime claus risk score based on the age onset of relatives with breast cancer
      </h3>
      <h3>
        2. Tick the boxes of relatives that have had breast cancer and then input their onset age
      </h3>
      <h4>
        Go back to the
        <b-button variant="danger" v-b-toggle.sidebar-main>Menu</b-button>
      </h4>
    </header>
    <br>
    <b-form>
      <b-form-row>
        <b-col>
          <b-form-group id="age" label="Choose patient's age">
            <br>
            <b-form-input
              id="input-age"
              v-model="age"
              type="number"
              placeholder="from 20 to 79"
            ></b-form-input>
          </b-form-group>
        </b-col>
      </b-form-row>
      <b-form-row>
        <b-col>
          <b-form-checkbox
            id="mother_chk"
            v-model="mother_chk"
          >
            Mother
          </b-form-checkbox>
        </b-col>
        <b-col>
          <b-form-checkbox
            id="daughter_chk"
            v-model="daughter_chk"
          >
            Daighter
          </b-form-checkbox>
        </b-col>
        <b-col>
          <b-form-checkbox
            id="sister_chk"
            v-model="sister_chk"
          >
            Sister
          </b-form-checkbox>
        </b-col>
        <b-col>
          <b-form-checkbox
            id="maunt_chk"
            v-model="maunt_chk"
          >
            Maternal aunt
          </b-form-checkbox>
        </b-col>
        <b-col>
          <b-form-checkbox
            id="paunt_chk"
            v-model="paunt_chk"
          >
            Paternal aunt
          </b-form-checkbox>
        </b-col>
        <b-col>
          <b-form-checkbox
            id="mgrandmother_chk"
            v-model="mgrandmother_chk"
          >
            Maternal grandmother
          </b-form-checkbox>
        </b-col>
        <b-col>
          <b-form-checkbox
            id="pgrandmother_chk"
            v-model="pgrandmother_chk"
          >
            Paternal grandmother
          </b-form-checkbox>
        </b-col>        <b-col>
        <b-form-checkbox
          id="mhsister_chk"
          v-model="mhsister_chk"
        >
          Maternal half-sister
        </b-form-checkbox>
      </b-col>        <b-col>
        <b-form-checkbox
          id="phsister_chk"
          v-model="phsister_chk"
        >
          Paternal half-sister
        </b-form-checkbox>
      </b-col>
      </b-form-row>
      <br>
      <b-form-row>
        <b-col v-if="mother_chk">
          <b-form-group id="mage" label="Mother's age">
            <b-form-input
              id="mother_age"
              v-model="mother_age"
              type="number"
              placeholder="from 20 to 79"
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col v-if="daughter_chk">
          <b-form-group id="dage" label="Daughter's age">
            <b-form-input
              id="daughter_age"
              v-model="daughter_age"
              type="number"
              placeholder="from 20 to 79"
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col v-if="sister_chk">
          <b-form-group id="sage" label="Sister's age">
            <b-form-input
              id="sister_age"
              v-model="sister_age"
              type="number"
              placeholder="from 20 to 79"
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col v-if="maunt_chk">
          <b-form-group id="maage" label="Maternal aunt's age">
            <b-form-input
              id="maunt_age"
              v-model="maunt_age"
              type="number"
              placeholder="from 20 to 79"
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col v-if="paunt_chk">
          <b-form-group id="paage" label="Paternal aunt's age">
            <b-form-input
              id="paunt_age"
              v-model="paunt_age"
              type="number"
              placeholder="from 20 to 79"
            ></b-form-input>
          </b-form-group>
        </b-col>
      </b-form-row>
      <b-form-row>
        <b-col v-if="mgrandmother_chk">
          <b-form-group id="mgage" label="Maternal grandmother's age">
            <b-form-input
              id="mgrandmother_age"
              v-model="mgrandmother_age"
              type="number"
              placeholder="from 20 to 79"
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col v-if="pgrandmother_chk">
          <b-form-group id="pgage" label="Paternal grandmother's age">
            <b-form-input
              id="pgrandmother_age"
              v-model="pgrandmother_age"
              type="number"
              placeholder="from 20 to 79"
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col v-if="mhsister_chk">
          <b-form-group id="mhsage" label="Maternal half-sister's age">
            <b-form-input
              id="mhsister_age"
              v-model="mhsister_age"
              type="number"
              placeholder="from 20 to 79"
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col v-if="phsister_chk">
          <b-form-group id="phsage" label="Paternal half-sister's age">
            <b-form-input
              id="phsister_age"
              v-model="phsister_age"
              type="number"
              placeholder="from 20 to 79"
            ></b-form-input>
          </b-form-group>
        </b-col>
      </b-form-row>
      <b-button v-on:click="onSubmit" variant="primary">Submit</b-button>
      <b-button v-on:click="onReset" variant="danger">Clear</b-button>
    </b-form>
    <br>
    <h5>
      Results:
    </h5>
    <div v-if="result">
      <h6>
        1. This is the lifetime risk from the Claus model: {{result}}%
      </h6>
    </div>
  </div>
</template>

<script>
import CalculatorService from '../services/calc-service'

export default {
  name: 'Claus',
  data () {
    return {
      form: {},
      age: 20,
      mother_chk: false,
      daughter_chk: false,
      sister_chk: false,
      maunt_chk: false,
      paunt_chk: false,
      mgrandmother_chk: false,
      pgrandmother_chk: false,
      mhsister_chk: false,
      phsister_chk: false,
      mother_age: 20,
      daughter_age: 20,
      sister_age: 20,
      maunt_age: 20,
      paunt_age: 20,
      mgrandmother_age: 20,
      pgrandmother_age: 20,
      mhsister_age: 20,
      phsister_age: 20,
      result: ''
    }
  },
  methods: {
    onSubmit () {
      this.form = {}
      this.resetResults()
      this.form.age = this.age
      if (this.mother_chk) {
        this.form.mother_age = this.mother_age
      }
      if (this.daughter_chk) {
        this.form.daughter_age = this.daughter_age
      }
      if (this.sister_chk) {
        this.form.sister_age = this.sister_age
      }
      if (this.maunt_chk) {
        this.form.maunt_age = this.maunt_age
      }
      if (this.paunt_chk) {
        this.form.paunt_age = this.paunt_age
      }
      if (this.mgrandmother_chk) {
        this.form.mgrandmother_age = this.mgrandmother_age
      }
      if (this.pgrandmother_chk) {
        this.form.pgrandmother_age = this.pgrandmother_age
      }
      if (this.mhsister_chk) {
        this.form.mhsister_age = this.mhsister_age
      }
      if (this.phsister_chk) {
        this.form.phsister_age = this.phsister_age
      }
      CalculatorService.clausAPI(this.form).then(
        data => {
          this.result = data.data[0].fields.result
        },
        error => {
          this.error =
            error.data.message.toString() ||
            error.message ||
            (error.response && error.response.data)
        }
      )
    },
    onReset () {
      this.mother_chk = false
      this.daughter_chk = false
      this.sister_chk = false
      this.maunt_chk = false
      this.paunt_chk = false
      this.mgrandmother_chk = false
      this.pgrandmother_chk = false
      this.mhsister_chk = false
      this.phsister_chk = false
      this.mother_age = 20
      this.daughter_age = 20
      this.sister_age = 20
      this.maunt_age = 20
      this.paunt_age = 20
      this.mgrandmother_age = 20
      this.pgrandmother_age = 20
      this.mhsister_age = 20
      this.phsister_age = 20
      this.form = {}
      this.resetResults()
    },
    resetResults () {
      this.result = ''
    }
  }
}
</script>

<style scoped>

</style>
