<template>
  <div>
    <header>
      <h2>
        Gail Calculator
      </h2>
      <h3>
        Please fill out the following form and click "Submit"
      </h3>
      <h4>
        Go back to the
        <b-button variant="danger" v-b-toggle.sidebar-main>Menu</b-button>
      </h4>
    </header>
    <br>
    <b-form>
      <b-form-row>
        <b-col>
          <b-form-group id="age" label="Choose patient's age">
            <br>
            <b-form-input
              id="input-age"
              v-model="form.age"
              type="number"
              placeholder="from 35 to 99"
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group id="period" label="Patient's age at the time of her first menstrual period?">
            <b-form-select v-model="form.period" :options="period_options"></b-form-select>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group id="birth" label="Patient's age at the time of her first childbirth?">
            <b-form-select v-model="form.birth" :options="birth_options"></b-form-select>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group id="relatives" label="Number of 1st degree relatives that have had breast cancer?">
            <b-form-select v-model="form.relatives" :options="relatives_options"></b-form-select>
          </b-form-group>
        </b-col>
      </b-form-row>
      <b-form-row>
        <b-col>
          <b-form-group id="biopsies" label="Number of breast biopsies?">
            <br>
            <b-form-select v-model="form.biopsies" :options="biopsies_options"></b-form-select>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group id="hyperplasia" label="Has the patient had at least one breast biopsy with atypical hyperplasia?">
            <b-form-select v-model="form.hyperplasia" :options="hyperplasia_options"></b-form-select>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group id="race" label="Patient's race?">
            <br>
            <b-form-select v-model="form.race" :options="race_options"></b-form-select>
          </b-form-group>
        </b-col>
      </b-form-row>
      <b-button v-on:click="onSubmit" variant="primary">Submit</b-button>
      <b-button v-on:click="onReset" variant="danger">Clear</b-button>
    </b-form>
    <br>
    <h5>
      Results:
    </h5>
    <div v-if="fiveYearABS">
      <h6>
        1. This is the 5 year risk value for the specified patient: {{fiveYearABS}}%
      </h6>
      <h6>
        2. This is the 5 year risk value for an average patient of the same age/race: {{fiveYearAVE}}%
      </h6>
      <h6>
        3. This is the lifetime risk value for the specified patient (This is calculated with a projection age of 90): {{lifetimeABS}}%
      </h6>
      <h6>
        4. This is the lifetime risk value for an average patient of the same age/race (This is calculated with a projection age of 90): {{lifetimeAve}}%
      </h6>
    </div>
  </div>
</template>

<script>
import CalculatorService from '../services/calc-service'

export default {
  name: 'Gail',
  data () {
    return {
      form: {
        age: 35,
        period: 0,
        birth: 0,
        relatives: 0,
        biopsies: 1,
        had_biopsies: 99,
        hyperplasia: 99,
        race: 1
      },
      period_options: [
        { value: 0, text: 'Unknown' },
        { value: 2, text: 'Less than 12 years old' },
        { value: 1, text: '12 through 13 years old' },
        { value: 0, text: 'Greater than 13 years old' }
      ],
      birth_options: [
        { value: 0, text: 'Unknown' },
        { value: 2, text: 'No births' },
        { value: 0, text: 'Less than 20 years old' },
        { value: 1, text: '20 through 24 years old' },
        { value: 2, text: '25 through 29 years old' },
        { value: 3, text: '30 years old and greater' }
      ],
      relatives_options: [
        { value: 0, text: 'Unknown' },
        { value: 0, text: '0 relatives' },
        { value: 1, text: '1 relative' },
        { value: 2, text: '2 or more relatives' }
      ],
      biopsies_options: [
        { value: 1, text: 'Unknown' },
        { value: 0, text: 'No biopsies' },
        { value: 1, text: '1 biopsies' },
        { value: 2, text: '2 or more biopsies' }
      ],
      hyperplasia_options: [
        { value: 99, text: 'Unknown' },
        { value: 0, text: 'No' },
        { value: 1, text: 'Yes' }
      ],
      race_options: [
        { value: 1, text: 'Unknown' },
        { value: 1, text: 'White' },
        { value: 2, text: 'African American' },
        { value: 3, text: 'Hispanic' },
        { value: 7, text: 'Asian American (Chinese)' },
        { value: 8, text: 'Asian American (Japanese)' },
        { value: 9, text: 'Asian American (Filipino)' },
        { value: 10, text: 'Asian American (Hawaiian)' },
        { value: 11, text: 'Asian American (Other Pacific Islander)' },
        { value: 12, text: 'Asian American (Other Asian American)' },
        { value: 1, text: 'American Indian or Alaskan Native' }
      ],
      fiveYearABS: '',
      fiveYearAVE: '',
      lifetimeABS: '',
      lifetimeAve: '',
      message: ''
    }
  },
  methods: {
    onSubmit () {
      this.form.had_biopsies = this.form.biopsies
      if (this.form.had_biopsies === 2) {
        this.form.had_biopsies = 1
      }
      this.clearResults()
      CalculatorService.gailAPI(this.form).then(
        data => {
          this.fiveYearABS = data.data[0].fields.fiveYearABS
          this.fiveYearAVE = data.data[0].fields.fiveYearAVE
          this.lifetimeABS = data.data[0].fields.lifetimeABS
          this.lifetimeAve = data.data[0].fields.lifetimeAve
        },
        error => {
          this.error =
            error.data.message.toString() ||
            error.message ||
            (error.response && error.response.data)
        }
      )
    },
    onReset () {
      // Reset our form values
      this.form.age = 35
      this.form.period = 0
      this.form.birth = 0
      this.form.relatives = 0
      this.form.biopsies = 1
      this.form.hyperplasia = 99
      this.form.race = 1
      this.clearResults()
    },
    clearResults () {
      this.fiveYearABS = ''
      this.fiveYearAVE = ''
      this.lifetimeABS = ''
      this.lifetimeAve = ''
      this.message = ''
    }
  }
}
</script>

<style scoped>

</style>
