<template>
  <div class="home">
    <b-jumbotron bg-variant="dark" text-variant="white" border-variant="white">
      <template #header>Gail and Claus Calculators</template>

      <template #lead>
        This is an interface that provides access to the Claus and Gail calculators for calculating the breast cancer risk of a patient.
      </template>

      <hr class="my-4">

      <p>
        Click the "Menu" button and navigate to the different calculators
        <b-button variant="danger" v-b-toggle.sidebar-main>Menu</b-button>
      </p>
      <h3>
        - Gail -> 5 year and lifetime specific and average risks
      </h3>
      <h3>
        - Claus -> Total lifetime risk
      </h3>
    </b-jumbotron>
  </div>
</template>

<script>
export default {
  name: 'Home'
}
</script>

<style>
.home{
  background-color: aquamarine;
}
</style>
