<template>
  <div>
    <b-sidebar
      id="sidebar-main"
      title="Menu"
      position="static"
      mobile="reduce"
      type="is-dark"
      expand-on-hover
      open
      shadow="true"
      backdrop
      bg-variant="dark"
      text-variant="light"
    >
      <nav class="mb-3 bg-secondary">
        <b-nav vertical>
          <router-link to="/" class="nav-link font-weight-bold" v-bind:style="{ 'color': 'black' }">
            Home and Help
          </router-link>
        </b-nav>
      </nav>
      <nav class="mb-3 bg-secondary">
        <b-nav vertical>
          <router-link to="/gail" class="nav-link font-weight-bold" v-bind:style="{ 'color': 'black' }">
            Gail Calculator
          </router-link>
        </b-nav>
      </nav>
      <nav class="mb-3 bg-secondary">
        <b-nav vertical>
          <router-link to="/claus" class="nav-link font-weight-bold" v-bind:style="{ 'color': 'black' }">
            Claus Calculator
          </router-link>
        </b-nav>
      </nav>
    </b-sidebar>
    <div class="container">
      <router-view />
    </div>
  </div>
</template>

<style>
#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
